* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header styling */
header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    background-color: royalblue;
    font-weight: bolder;
    padding: 10px 0px 10px 0px;
}

#current-city-data,
#current-city-header
{
    background-color: lightsteelblue;
    border-bottom: 0px;
    padding-bottom: 0px;
}

#current-city-data {
    padding: 20px;
}

#weatherIcon {
    width: 100px;
    height: 100;
}

#uvIndex {
    padding: 5px;
}

.day-card {
    color: white;
    background-color: royalblue;
}