* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header styling */
header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    background-color: royalblue;
    font-weight: bolder;
    padding: 10px 0px 10px 0px;
}

#currentCityAndDate {
    background-color: white;
    border-bottom: 0px;
}